

.container {
	width: 100%;
}

header {	
	background: rgb(11,11,11);

}

nav {
	width: 1240px;
	height: 90px;
	background: rgb(11,11,11);
	margin: 0 auto;
}

.logo-container {
	padding: 5px;
	float: left;
}

.logo {
	display: block;

	width: 200px;
	height: 100px;
	
	background: url(../img/spr-v2.png);
	background-position: 0 -35px;
}

nav ul {
	float: left;
	margin-left: 185px;
}

nav ul li {
	float: left;
	width: 120px;
	text-align: center;
}

nav ul li a {
	color: #FFEDDA;	
}

