

.container {
	width: 100%;
}

header {	
	background: rgb(11,11,11);

}

nav {
	width: 1240px;
	height: 90px;
	background: rgb(11,11,11);
	margin: 0 auto;
}

.logo-container {
	padding: 5px;
	float: left;
}

.logo {
	display: block;

	width: 200px;
	height: 100px;
	
	background: url(../img/spr-v2.png);
	background-position: 0 -35px;
}

nav ul {
	float: left;
	margin-left: 15px;
}

nav ul li {
	float: left;
	width: 110px;
	line-height: 26px;
	padding-top: 30px;

	text-align: center;
}

nav ul li a {
	display: block;
	font-size: 18px;
	color: #FFEDDA;	
}

nav ul li a span{
	display: block;
	color:#838374;
	transform: scale(0.6);
}

.go{
	float: left;
	width: 94px;
	height:90px;
}
.go a{
	float: left;
	width: 36px;
	height: 42px;
	margin-right: 11px;
	margin-top: 30px;
	background-size: 100% ;
	
}
.go a:nth-child(1){
	background: url(../img/search.png) no-repeat;
}
.go a:nth-child(2){
	background: url(../img/phone.png) no-repeat;
}





.user{
	width: 350px;
	height: 90px;
	float: right;
	position: relative;
}
.usersection{
	width: 350px;
	height: 90px;
}
.usersection div,.usersection i{
	float: left;
}
.usersection i{
	width: 73px;
	height: 73px;
	margin-top: 8px;
	margin-left: 20px;
	position: relative;
}
.usersection i b{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
	width: 73px;
	height: 73px;
	background: url(../img/spr-v2.png) no-repeat -1px -169px;
}
.usersection i img{
	width:100%;
	border-radius: 50%;
}
.usersection div{
	width: 230px;
	margin-left: 20px;
} 
.usersection div h1{
	font-size: 16px;
	margin-top: 25px;
	color: #F6F6F6;
	font-weight: 100;
}
.usersection div h1 a{
	color: blanchedalmond;
	text-decoration: underline;
}
.usersection div p{
	color: #999;
	margin-top: 3px;
}
.user:hover .usersection{
	background: rgba(27,27,27,0.9);
}
.userselect{
	position: absolute;
	width:350px;
	height: 114px;
	background: rgba(27,27,27,0.9);
	color: #868686;
    font-size: 14px;
    top: 90px;
    left: 0;
    display: none;
    z-index:88;
}
.userselect div{
	padding: 20px 30px 0;
	height: 78px;
}
.userselect a{
	display: block;
	height: 36px;
	text-align: center;
	line-height: 36px;
	background: #161413;
    color: #e0e0e0;
}
.user:hover .userselect{
	display: block;
}

.layer{
	width: 100%;
	height: 190px;
	padding: 20px 0;
	background: rgba(0,0,0,0.7);
	position: absolute;
	top: 90px;
	left: 0;
	/*display: none;*/
	z-index: 88;
}


#box{
	width: 1240px;
	height: 190px;
	margin: 0 auto;
}
.box-list{
	width: 600px;
	height: 190px;
	margin-left: 200px;
}
.box-list ul{
	width: 120px;
	float: left;
	text-align: center;
	line-height: 26px;
	
}
.box-list ul a{
	color: #F5F5F5;
	font-size: 14px;
}
.box-list ul a:hover{
	color:blanchedalmond;
}
.box-list ul a i{
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url(../img/spr-v2.png) no-repeat -107px 0 ;
}
.box-list ul a b{
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url(../img/spr-v2.png) no-repeat -129px 0 ;
}
